section.products
  .container
    h2
      | Products
    .row
      <div class="col">
        <div class="card">
          <img src="/images/uploads/columbia-quarter.jpg" alt="Colmbia Quarter Zip" style="width:45%">
          <h3>Columbia Quarter Zip</h3>
          <p class="price">$15</p>
          <p>Light Columbia brand quarter zip fleece jacket</p>
          <p><button>Add to Cart</button></p>
        </div>

        <div class="card">
          <img src="/images/uploads/champion-hoodie.jpg" alt="Champion Hoodie" style="width:45%">
          <h3>Champion Hoodie</h3>
          <p class="price">$10</p>
          <p>Blue Champion hoodie (Adult Large)</p>
          <p><button>Add to Cart</button></p>
        </div>

        <div class="card">
          <img src="/images/uploads/jeans.jpg" alt="Jeans" style="width:50%">
          <h3>Jeans</h3>
          <p class="price">$4</p>
          <p>Washed pair of womens Levi's jeans</p>
          <p><button>Add to Cart</button></p>
        </div>

        <div class="card">
          <img src="/images/uploads/nike-sweatshirt.PNG" alt="Nike Sweatshirt" style="width:50%">
          <h3>Nike Sweatshirt</h3>
          <p class="price">$6</p>
          <p>High quality purple Nike sweatshirt (small)</p>
          <p><button>Add to Cart</button></p>
        </div>

        <divn class="card">
          <img src="/images/uploads/steelers.PNG" alt="Steelers 1/4" style="width:50%">
          <h3>Steelers 1/4 zip Fleece</h3>
          <p class="price">$6</p>
          <p>Super cute, comfy, and warm 1/4 zip Pittsburgh Steelers fleece</p>
          <p><button>Add to Cart</button></p>
        </div>

        <div class="card">
          <img src="/images/uploads/windbreaker.jpg" alt="Windbreaker" style="width:50%">
          <h3>Windbreaker</h3>
          <p class="price">$8</p>
          <p>Throwback windbreaker jacket</p>
          <p><button>Add to Cart</button></p>
        </div>
      </div>
